<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="submit" method="POST">{% csrf_token %}
    <div align="center">
        <h1>Login</h1>
        <label>Usuário</label>
        <input type="text" name="username"><br><br>
        <label>Senha&nbsp;&nbsp;</label>
        <input type="text" name="password"><br><br>
        <button type="submit" >Entrar</button>
    </div>
</form>
    <div align="center">
        {% for message in messages %}
        <br><strong>Erro!</strong>{{ message }}
        {% endfor %}
    </div>
</body>
</html>